body {
  font-family: $font_family;
  font-size: $font_size;
  font-weight: $font_weight;
  line-height: $line_height;
  color: $font_color;
  background-color: $body_bg_color;
}
/*
body {
  font-family: $font_family;
  font-weight: $font_weight;
  font-size: $font_size_mobile;
  color: $font_color;
  background-color: $body_bg_color;
  line-height: 1.5;
  @media (min-width: 768px) {
    font-size: $font_size;
  }
}

.sticky-footer {
  position: relative;
  min-height: 100%;
  body {
    margin-bottom: $body_mb_mob + $footer_height_mob;
    &.no-push-bottom {
      margin-bottom: $footer_height_mob;
    }
    &.no-push-bottom-mob {
      margin-bottom: $footer_height_mob;
    }
    .main {
      //padding-top: 60px;
    }
    .footer {
      position: absolute;
      bottom: 0;
      width: 100%;
      height: $footer_height_mob;
    }
    @media (min-width: 400px) {
      &.no-push-bottom-mob {
        margin-bottom: $body_mb_mob + $footer_height_mob;
      }
    }
    @media (min-width: 992px) {
      margin-bottom: $body_mb + $footer_height;
      .footer {
        height: $footer_height;
      }
      &.no-push-bottom {
        margin-bottom: $footer_height;
      }
    }
  }
}

*/

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
