.delete-this-sheet {}

.sticky {
    position: relative;
    min-height: 100%;
    box-sizing: border-box;
}
.sticky__body {
    margin-bottom: 152px;
    @media (min-width: 576px) {
      margin-bottom: 102px;
    }
}
.sticky__footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 122px;
    box-sizing: border-box;
    @media (min-width: 576px) {
      height: 72px;
    }
}

.delete-this-sheet {}

.absolute-logo {
    display: block;
    margin-bottom: 10px;
    @media (min-width: 768px) {
      display: inline-block;
      margin-bottom: 0;
    }
}

.text-center {
    text-align: center;
}

.h3 {
    font-size: 20px;
}

.exam {
    max-width: 815px;
    margin: 20px auto;
}

.exam__tabs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}

p {
    margin: 0 0 20px 0;
}

.btn {
    cursor: pointer;
    padding: 10px 10px;
    color: #203f54;
    border-radius: 3px;
    transition: background .5s ease-out;
    line-height: 1.1;
    border: none;
    outline: none;
    box-sizing: border-box;
    &:hover, &.active {
      background: #f37e00;
      color: #f7f6f6;
    }
    &:disabled {
      cursor: not-allowed;
      color: #8f8f8f !important;
      border-color: #cacaca !important;
      background-color: #e5e5e5 !important;
    }
}

.btn_tab {
    border-radius: 0
}

.btn1 {
    padding: 5px 10px;
    text-align: center;
    margin: 0;
    border: 1px solid #f37e00;
    outline: 0;
    text-decoration: none;
    background: transparent;
    font-weight: normal;
}

.btn2 {
    border: 1px solid #f37e00;
    background: #f0e0ca;
    &:hover,
    &.active {
      background: #f37e00;
      color: #f7f6f6;
    }
}

.btn3 {
    border: 1px dotted #f37e00;
    background: transparent;
    &:hover {
      color: #203f54;
      background: #f0e0ca;
      transition: none;
    }
}

.btn4 {
    background: #ccdbea;
    border: 1px solid #a8b3be;
    &:hover {
      border: 1px solid transparent;
    }
}

.btn_ticket {
    width: 100%;
    max-width: 80px;
    display: inline-block;
    font-size: 14px;
    line-height: 1.2;
    margin: 0 20px 15px 0;
    @media (min-width: 576px) {
      width: 110px;
      max-width: none;
    }
    @media (min-width: 660px) {
      width: 122px;
      font-size: 16px;
      line-height: 1.5;
    }
    &.correct {
      border: 1px solid #23ab23;
      background: #c2dc99;
    }
    &.wrong {
      border: 1px solid #f54d4d;
      background: #ea7f7f;
    }
    &:hover {
      background: #f37e00;
      color: #fff;
    }
}

.btn_start {
    padding: 10px 30px;
}

.btn_clear {
    padding: 5px 10px;
    font-size: 14px;
    @media (min-width: 660px) {
      font-size: 16px;
    }
}

.exam__tab {
    padding: 10px 10px;
    font-size: 16px;
    border: 1px solid #f37e00;
    border-bottom: none;
    line-height: 1.1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: center;
    text-align: center;
    + .exam__tab {
      border-left: none;
  }
}

.exam__content-box {
    padding: 10px 5px;
    background: rgba(245, 236, 220, 0.2);
    border: 1px solid #f37e00;
    border-top: 2px solid #f37e00;
    @media (min-width: 480px) {
      padding: 20px;
    }
}

.exam__random {
    text-align: center;
    padding: 15px;
}

.exam__content_topics,
.exam__content_numbers,
.exam__content_exam {
    display: none;
}

.exam__content {
  &.active {
    display: block;
  }
}

.exam__cardstable {
    max-width: 615px;
    margin: auto;
}

.cardstable {
    width: 100%;
    border-collapse: collapse;
    border: none;
}

.cardstable__td {
    width: 25%;
    padding: 4px 4px;
    text-align: center;
    @media (min-width: 660px) {
      padding: 5px 10px;
    }
}

.cardstable__td > .btn {
    margin: 0;
}

/*.exam__pagination {
    max-width: 360px;
}*/

.btn__pagination {
    display: inline-block;
    width: 25px;
    height: 25px;
    min-width: 25px;
    min-height: 25px;
    font-size: 14px;
    text-align: center;
    border-radius: 3px;
    border: 1px dotted #f37e00;
    background: transparent;
    margin: 0 4px 5px 0;
    padding: 0;
    transition: none;
    line-height: 1;
    @media (min-width: 576px) {
      width: 30px;
      height: 30px;
      min-width: 30px;
      min-height: 30px;
      font-size: 16px;
      padding: 3px;
    }
    &:hover {
      color: #203f54;
      background: #f0e0ca;
    }
    &.wrong {
      border: 1px solid #f54d4d !important;
      background: #ea7f7f !important;
      &:hover {
        color: #203f54;
      }
    }
    &.correct {
      border: 1px solid #23ab23 !important;
      background: #c2dc99 !important;
      &:hover {
        color: #203f54;
      }
    }
    &.active {
      color: #203f54;
      border: 1px solid #f37e00;
      background: #f0e0ca;
      cursor: default;
    }
    &.wide {
      width: auto !important;
    }
}

.exam__timer {
    display: none;
    padding: 4px 0 0 10px;
    @media (min-width: 810px) {
      display: block;
    }
}

.exam__timer-mob {
    display: block;
    margin-left: 20px;
    @media (min-width: 810px) {
      display: none;
    }
}

.examtimer {
    font-size: 18px;
    color: #666;
}

.examtimer_overrun {
    color: crimson;
}

.exam-question {
    padding: 10px;
    @media (min-width: 480px) {
      padding: 0;
    }
}

//.exam-question__header {}
//.exam-question__body {}

.exam-question__title {
    margin: 15px 0 20px;
    @media (min-width: 810px) {
      display: block !important;
      text-align: center;
    }
}

//.exam-question__titletxt {}

.exam-question__ticket-num {
    font-size: 20px;
}

.exam-question__question-num {
    font-size: 14px;
}

.exam-question__text {
    font-size: 18px;
    margin: 20px 0 10px;
}

.exam-question__img {
    max-width: 480px;
    margin: 10px auto;
    text-align: center;
}

.exam-question__img > img {
    width: 100%;
    height: auto;
}

//.exam-question__answers {}

.custom-control {
    position: relative;
    display: block;
    min-height: 1.5rem;
    margin-bottom: 10px;
    input[type=checkbox], input[type=radio] {
      box-sizing: border-box;
      padding: 0;
      margin: 0;
      font-family: inherit;
      font-size: inherit;
      line-height: inherit;
      overflow: visible;
    }
}

.custom-control-input {
    position: absolute !important;
    z-index: -1;
    opacity: 0;
}

input[type=radio] {
  &.custom-control-input {
    &::before,
    &:checked::before {
      display: none !important;
    }
  }
}

.custom-control-label {
    display: inline-block;
    position: relative;
    margin-bottom: 0;
    vertical-align: top;
    box-sizing: border-box;
    cursor: pointer;
}

.yooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooo {}

.custom-checkbox .custom-control-label,
.custom-radio .custom-control-label {
    display: block;
    width: 100%;
    border: 1px solid #f37e00;
    border-radius: 5px;
    cursor: pointer;
    padding: 5px 15px 5px 35px;
    box-sizing: border-box;
}
.custom-checkbox .custom-control-label.pre-line {
    white-space: pre-line;
}
.custom-checkbox .custom-control-label::before {
    border-radius: .25rem;
}
.custom-control-label::before,
.custom-file-label,
.custom-select {
    transition: background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.custom-control-label::before {
    position: absolute;
    top: .5rem;
    left: .8rem;
    display: block;
    width: 1rem;
    height: 1rem;
    pointer-events: none;
    content: "";
    background-color: #fff;
    border: 1px solid #f37e00;
    box-sizing: border-box;
}
.custom-control-label:hover,
.custom-control-input:checked~.custom-control-label {
    border: 1px solid #f37e00;
    background: #f0e0ca;
}
.custom-control-input:checked~.custom-control-label::before {
    color: #fff;
    border-color: #f37e00;
    background-color: #f37e00;
}
.custom-control-label::after {
    position: absolute;
    top: .5rem;
    left: .8rem;
    display: block;
    width: 1rem;
    height: 1rem;
    content: "";
    background: no-repeat 50%/50% 50%;
    box-sizing: border-box;
}
.custom-checkbox .custom-control-input:checked~.custom-control-label::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}
.custom-radio .custom-control-label {
    display: block;
    width: 100%;
    border: 1px solid #f37e00;
    border-radius: 5px;
    cursor: pointer;
    padding: 5px 15px 5px 35px;
    box-sizing: border-box;
}
.custom-radio .custom-control-label::before {
    border-radius: 50%;
}
.custom-radio .custom-control-input:checked~.custom-control-label::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e");
}
.custom-control.wrong .custom-control-label {
    color: red;
    background: #fad9d9 !important;
    border: 1px solid #f54d4d !important;
}
.custom-control.wrong .custom-control-label::before {
    border: 1px solid #f54d4d;
}
.custom-control.wrong .custom-control-input:checked~.custom-control-label::before{
    border-color: #f54d4d;
    background-color: #f54d4d;
}
.custom-control.correct .custom-control-label {
    color: #23ab23;
    background: #CDE8DA !important;
    border: 1px solid #23ab23 !important;
}
.custom-control.correct .custom-control-label::before {
    border: 1px solid #23ab23;
}
.custom-control.correct .custom-control-input:checked~.custom-control-label::before{
    border-color: #23ab23;
    background-color: #23ab23;
}
.custom-control-input:disabled~.custom-control-label {
    cursor: not-allowed;
}

.yooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooo {}

/*
.custom-control-input:disabled~.custom-control-label {
    cursor: not-allowed;
    color: #8f8f8f;
    border-color: #cacaca;
    background-color: #e9e9e9;
}
.custom-control-input:disabled~.custom-control-label::before {
    border-color: #cacaca;
    background-color: #e5e5e5;
}
*/

.exam-question__footer {
    margin: 20px 0;
}

//.exam-question__btns {}

.exam-question__btn {
  + .exam-question__btn {
    margin-left: 10px;
  }
}

//.exam-question__btn-submit {}
//.exam-question__btn-next {}

.exam-prompt__info {
  color: #203f54;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #f37e00;
  background-color: #e5e5e5;
}

.exam-prompt {
    margin: 20px 0;
    &.wrong {
      .exam-prompt__info {
        background: #fad9d9;
        border: 1px solid #f54d4d;
      }
    }
    &.correct {
      .exam-prompt__info {
        background: #CDE8DA;
        border: 1px solid #23ab23;
      }
    }
}

.exam-prompt-btn {
    color: #007bff;
    cursor: pointer;
    text-decoration: underline;
    background: none;
    border: none;
    outline: none;
    padding: 10px 0;
    line-height: 1.1;
    margin-top: 10px;
    @media (min-width: 576px) {
      margin-top: 0;
    }
    &:hover,
    &:focus,
    &:active {
      color: #0056b3;
      text-decoration: none;
    }
}

//.exam-prompt__text {}

.exam-prompt__res {
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
}

.exam-question {
  &.correct {
    .exam-prompt__res {
      color: green;
    }
  }
  &.wrong {
    .exam-prompt__res {
      color: red;
    }
  }
}

.col-topics,
.col-topic-title {
    padding: 0 15px;
}

.col-topics {
    flex-basis: 100%;
}

.exam__bytopics {
    margin: 10px 0 20px;
}

.exam-result {
    max-width: 300px;
    margin: 0 auto;
    padding: 15px;
    text-align: center;
    border: 1px solid #f37e00;
    border-radius: 5px;
    background: #efe9e1;
}

.exam-result__title {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 10px;
}

//.exam-result__stars {}

.exam-result__score {
    font-size: 18px;
    line-height: 1.2;
    margin-bottom: 10px;
}

.exam-result__label1 {
    font-size: 16px;
    text-transform: uppercase;
    line-height: 1.2;
    margin-bottom: 10px;
}

.exam-result__label1_overrun {
    color: crimson;
}

.exam-result__label2 {
    font-size: 16px;
    text-transform: uppercase;
    line-height: 1.2;
    margin-bottom: 20px;
}

.exam__footer {
    margin-top: 10px;
    margin-bottom: 5px;
    @media (min-width: 576px) {
      margin-top: 25px;
    }
}
