$font_family:               'OpenSans', Arial, sans-serif;
$font_weight:               400;
$font_size:                 16px;
$line_height:               24px;
$font_color:                var(--bs-body-color);
$body_bg_color:             #ebebeb;
